<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
	<test name="Test">
		<parameter name="sImageEnable" value="2" />
		<parameter name="sUrl" value="http://russia.master.prontosoft.by" />
		<parameter name="sParam1" value="apple iphone 4 16gb" />
		<parameter name="sParam2" value="аппле ипхоне 4 16гб" />
		<parameter name="sParam3" value="Телефоны и связь" />
		<groups>
			<run>
				<include name="AutoTest_10" />
			</run>
		</groups>
		<classes>
			<class name="pack_test.Test_Irr_Search_FullTextTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
