<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
	<test name="Test">
		<parameter name="sImageEnable" value="2" />
		<parameter name="sUrl" value="http://russia.master.prontosoft.by" />
		<parameter name="sParam1" value="сдам квартиру" />
		<parameter name="sParam2" value="сда,квартир" />
		<parameter name="sParam3" value="bmw,бмв" />
		<groups>
			<run>
				<include name="AutoTest_3" />
			</run>
		</groups>
		<classes>
			<class name="pack_test.Test_Irr_Search_FullTextTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
