<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
   <parameter name="sBaseHost" value="master.prontosoft.by"/>
   <parameter name="sLogin" value="timon2181"/> 
   <parameter name="sPassword" value="retry2"/> 
   <parameter name="sIdAdvert" value="251711260"/> 
   <parameter name="sParam1" value="Некорректная информация, цена, фото"/>
   <parameter name="sParam2" value="{make=Audi, model=100}"/> 
   <parameter name="sVideoUrl" value="http://www.youtube.com/watch?v=AMpZ0TGjbWE"/> 
   <parameter name="bAuthFlag" value="false"/>
   <parameter name="sNewPassword" value="retry2"/>
   <parameter name="sParam" value="{author_email=ma@mail.com, comment=comm}"/>
  <groups>
    <run>
      <include name="GetRelatedAdverts8_4"/>
    </run>
  </groups>
    <classes>
      <class name="pack_test.Test_Mobile"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
