<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
   <parameter name="sBaseHost" value="design.prontosoft.by"/>
   <parameter name="sLogin" value="adf1@yopmail.com"/> 
   <parameter name="sPassword" value="retry2"/> 
   <parameter name="sIdAdvert" value="245367359"/> 
   <parameter name="sParam1" value="{title=апвапарапраплдрапр}"/>
   <parameter name="sParam2" value="{make=Audi, model=100}"/> 
   <parameter name="sVideoUrl" value="http://www.youtube.com/watch?v=AMpZ0TGjbWE"/> 
   <parameter name="bAuthFlag" value="true"/>
   <parameter name="sNewPassword" value="retry2"/>
  <groups>
    <run>
      <include name="AutoTest_17"/>
    </run>
  </groups>
    <classes>
      <class name="pack_test.Test_Mobile"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
